<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>冻结金额</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/mobile.css'}"/>
    <script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/jquery.mobile-1.4.3.css'}" />
    <script type="text/javascript" src="@{'/public/javascripts/jquery.mobile-1.4.3.js'}"></script>
</head>

<body>



<div data-role="page" id="index">


    <div data-role="content " >
        <div class="tl_hd_po">
            <h3>冻结金额(元)</h3>
            <h1><span class="bp_font_red">${InvestAmount}</span></h1>
        </div>

    </div>
    <div class="tl_hd_bd">
        <ul class="tl_title_cn">
            <li>
               名称
            </li>
            <li>
                投资金额(元)
            </li>
            <li>
                冻结时间
            </li>
        </ul>
    </div>
#{if investsBill?.size==0}
<p>
    没有记录!
</p>
#{/if}
#{else}
#{list items:investsBill, as:'bid'}
    <div data-role="content tl_cn_pd" >
        <div class="clear_float"></div>
            <ul class="tl_cn_cn">
                <li>
                ${bid?.title}
                </li>
                <li>
                ${(bid?.invest_amount).format('###,###,###,###,##0.00')}
                </li>
                <li>
                ${bid?.time.format('yyyy-MM-dd')}
                </li>
            </ul>
    </div>
    <div class="clear_float"></div>
    <hr>
#{/list}
#{/else}


</div>



</body>
</html>