<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>关于金豆荚理财</title>
    <meta name="description" content="金豆荚">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico in the root directory -->
    <!-- build:css ../resources/css/minregsuc.css -->
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap.min.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/main.css'}" />
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/simpleregist.css'}" />
    <!-- endbuild -->
    <script>
        baseUrl = '${fpHots}';
    </script>
</head>

<body style="background-color: rgb(230, 230, 230)">
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Add your site or application content here -->
    <div class="app__wrapper qr-back-color">
        <div id="container" class="container-fluid padding-top qr-back-color padding-down10 padding-delete content-height">
            <div id="top" class="row-fluid" style="display: inline-block">
                <div id="phone" class="row-fluid content_pos">
                    <img src="@{'/public/images/h5icon/rgbnaner_02.jpg'}" class="imag-sal-rs" >
                </div>
            </div>

        <div class="qr-back-pos">

                <h2 id="welcome" style="font-weight: 700; font-size: 1.2em;margin-top:5px;color: #F01DE6;">金豆荚欢迎您再次光临</h2>

           <h6 >金豆荚是由上海展义金融信息服务有限公司精心打造的一款集金融信息服务和个人理财为一体的移动应用。</h6>
            <h6>登陆 www.51jdj.com 购买保本高收益的理财产品，同时您可以下载移动 App 购买基金并方便地管理个人的财富资产。</h6>
        </div>
            <div style="text-align: center;margin-top: 5%;">
              <img src="@{'/public/images/h5icon/webchart.jpg'}"  class="imag-sal"/>
                <p>扫一扫或者长按关注金豆荚微信号</p>
            </div>

              <div id="rg_ll" style=" width:100%;text-align: center;margin-top: 15px;display:none">
                  <button type="button" id="go_login" class='btn-height  button-font-sh bk-img'>点击登录</button>
              </div>

                <div id="rg_bk" style=" width:100%;text-align: center;margin-top: 15px;display:none">
                    <button type="button" id="go_register" class='btn-height  button-font-sh bk-img'>点击注册</button>
                </div>
                <div id="rg_ss" style=" width:100%;text-align: center;margin-top: 15px;display:none">
                    <button type="button" id="go_golden" class='btn-height  button-font-sh bk-img'>去金豆荚看看</button>
                </div>

            <div style="height:80px;">
                <ul class="rs-ul-pos">
                    <li> <img src="@{'/public/images/h5icon/apple.png'}" data-load="load" class="imag-sal-lt"/></li>
                    <li> <img src="@{'/public/images/h5icon/android.png'}" data-load="load" class="imag-sal-lt"/></li>
                </ul>

            </div>
            <p style="text-align: center;padding-top:10px;">点击相应的图标下载金豆荚App</p>

        </div>

        </div>


    <!-- build:js ../js/conregsuc.js -->
    <script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/bootstrap.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/button.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jqueryextend.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/defaultshare.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/share.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/quickRegister.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/share/sha.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/share/sign.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/share/jweixin-1.0.0.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/share/weixin.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/registerSuccess.js'}"></script>
    <!-- endbuild -->

</body>

</html>
