#{extends 'common/frontMain.html' /}
#{set title:'对不起，出错了' /}
<div class="xf_c_wyjk_1_wyjk">
<div class="xf_c_wyjk_1_wyjkWrap">
<div class="xf_login_centent clr">
	  <div class="xfht_t_j_k_404">
	        <div class="xfht_t_j_k_500_l"></div>
	        <div class="xfht_t_j_k_404_r">
	           <h3 class="xfht_t_j_k_404h">服务器出错啦！</h3>
	           <div class="xfht_t_j_k_404t">抱歉出错了，已经在全力抢修中....</div>
	           <div class="xfht_t_j_k_404t">您可以<a href="@{front.home.HomeAction.home()}">返回前台首页   </a>
	        </div>
	      </div>
	  </div>
</div>
</div>
</div>
<!-- 底部阴影 -->
<div class="xf_login_kjyy"></div>
