<!DOCTYPE html>
<html> 
<head>

    <meta charset="utf-8">
    <title>关于金豆荚</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/jquery.mobile-1.4.3.css'}" />
    <script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.mobile-1.4.3.js'}"></script>

</head>
<body>

<div data-role="page" >


  <div >
      <br>
     <div style=" text-align: center; padding: 5px;"><span> <a href="#"><img src="@{'/public/images/h5icon/about_our.png'}"></a></span></div>
  </div>
    <div data-role="content">
    <p>&nbsp;&nbsp;金豆荚（www.51jdj.com）是由上海展义金融信息服务有限公司精心打造并负责运营，运营团队汇聚了金融服务、风险管理以及电子商务等业界一流的专业人士。<br>
    &nbsp;&nbsp;金豆荚，作为国内优秀的互联网金融理财平台，致力于为公众提供一个安全、专业、高收益的理财平台。结合多年的资产管理和风险控制经验，利用先进的互联网技术，不断为平台用户提供更丰富、更便捷的互联网理财产品。<br>
    &nbsp;&nbsp;金豆荚采取国内知名的汇付天下的第三方资金托管模式，不接触客户资金，投资安全无虞。
    </p>
    <p>
        <h4>金豆荚理念</h4>
        &nbsp;&nbsp;专业风控、稳健收益、简洁高效。
    </p>
    <p>
        <h4>金豆荚价值观</h4>
        &nbsp;&nbsp;为用户创造收益，为社会创造价值。
    </p>


    </div>

</div>
</body>
</html>