<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>安全保障</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/mobile/jquery.mobile-1.4.3.css'}" />

    <script type="text/javascript" src="@{'/public/javascripts/jquery-2.0.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.mobile-1.4.3.js'}"></script>

</head>
<body>

<div data-role="page" >


  <div >
      <br>
     <div style=" text-align: center; padding: 5px;"><span> <a href="#"><img src="@{'/public/images/h5icon/about_our.png'}"></a></span></div>
  </div>
    <div data-role="content">
    <p><h4>顶尖团队</h4>
        &nbsp;&nbsp;金豆荚汇集来自支付宝、腾讯、大智慧、汇丰银行、国家开发银行、深圳发展银行等的一流人才 ，背靠上海展义财富投资管理有限公司，拥有强大的金融资源背景和技术实力。
    </p>
    <p>
        <h4>严格风控</h4>
        &nbsp;&nbsp;金豆荚构建了一流的信用审核及风险控制团队，确保对每个合作商户进行充分的尽职调查及风控审核。并在用户购买前、后对产品相关信息进行披露。
    </p>
    <p>
        <h4>逾期垫付</h4>
        &nbsp;&nbsp;当用户投资的借款出现逾期时，金豆荚理财平台将向投资人垫付此笔借款未归还的剩余出借本息，从而为理财人营造一个安全的投资环境，保证投资人的本息安全。
    </p>
    <p>
        <h4>资金托管</h4>
        &nbsp;&nbsp;用户资金由第三方知名支付机构“汇付天下”托管，金豆荚全程不接触用户资金，投资安全无忧。
    </p>
    <p>
        <h4>资金同卡进出</h4>
        &nbsp;&nbsp;投资者在金豆荚购买和赎回理财产品，可由同张银行卡买进和赎回，确保资金安全无忧。
    </p>
    <p>
        <h4>法律保障</h4>
        &nbsp;&nbsp;知名律师事务所“中伦律师事务所”担任金豆荚常年法律顾问，提供法律支持。
    </p>
    <p>
        <h4>实名认证</h4>
        &nbsp;&nbsp;金豆荚对投资者进行手机、身份证、银行卡等三重认证，保障投资者合法权益。
    </p>
    </div>

</div>
</body>
</html>